<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>

    </head>
    <body>
        <h1>Sorry, you can not access {{website}} &#128554</h1>
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">-->
        <img src="{{ url_for('static', filename='weblock logo.png')}}" />
    </body>
</html>